Package: epson-l395
Version: 0.0.4
Installed-Size: 1
Maintainer: crasheddie <crash.eddie123@gmail.com>
Section: utils
Architecture: all
Priority: optional
Depends: libcupsimage2, libqt5widgets5, epson-inkjet-printer-escpr, epson-printer-utility, epsonscan2, epsonscan2-non-free-plugin
Homepage: http://download.ebz.epson.net/dsc/search/01/search/?OSC=LX
Description: Drivers for Epson L395 Printer and Scan.
 A metapackage for installing printer and scanner drivers from Epson EcoTank L395 Printer - Multifunction InkTank.
