Package: firefox-deb
Version: 104.0
Installed-Size: 1
Maintainer: crasheddie <crash.eddie123@gmail.com>
Section: utils
Architecture: all
Priority: optional
Depends: firefox (>= 104.0+build2-0ubuntu0.22.04.1~mt1)
Homepage: https://launchpad.net/~mozillateam/+archive/ubuntu/ppa
Description: Firefox without Snap.
 Install firefox with Ubuntu Snap.
