Package: youtube-dl-full
Version: 0.0.3
Installed-Size: 1
Maintainer: crasheddie <crash.eddie123@gmail.com>
Section: utils
Architecture: all
Priority: optional
Depends: youtube-dlg
Homepage: https://github.com/oleksis/youtube-dl-gui
Description: Youtube-dlp and a frontend.
 This package install youtube-dlp and a frontend youtube-dlg fork.
